extends ../layouts/auth

include ../mixins/error-alert

block auth-content
    h1(class="title") Login
    p(class="subtitle") Login to your account
    +error-alert('login-error')
    form(action="/login" method="post")
        div(class="field")
            label(class="label") Email
            div(class="control")
                input(class="input" type="email" name="email" placeholder="Email")
        div(class="field")
            label(class="label") Password
            div(class="control")
                input(class="input" type="password" name="password" placeholder="Password")
        div(class="field")
            button(class="button is-primary") Login
        p Doesn't have account? 
            a(href="/register") Register Here