extends base

block content
    nav(class="navbar")
        div(class="navbar-brand")
            a(class="navbar-item" href="/") MyIE
        div(class="navbar-end")
            div(class="navbar-item")
                div(class="buttons")
                    a(class="button is light" href="/logout") Logout
    section(class="section")
        div(class="container")
            block app-content
