extends ../layouts/app

block content
    h1(class="title") Internal Server Error
    p(class="subtitle") Something error with the server
    a(href="/" class="button is-primary") Back
                