extends ../layouts/app

block content
    h1(class="title") New transaction
    p(class="subtitle") 16/03/2024
    - const errors = getFlashMessages('create-transaction-error')
    if errors.length
        div(class="notification is-danger")
            ul
                each msg in errors
                    li=msg
    form(action="/transactions/create" method="post") 
        div(class="field is-grouped")
            div(class="control")
                div(class="select")
                    select(name="type")
                        option(value="income") Income
                        option(value="expense") Expense
            div(class="control")
                input(class="input" type="text" placeholder="Category")  
            div(class="control")
                input(class="input" type="text" placeholder="Tags (seprate with comma)")
        div(class="field")
            label(class="label") Amount
            div(class="control")
                input(class="input" type="number" name="amount" placeholder="Amount")
        div(class="field")
            label(class="label") Description
            div(class="control")
                textarea(class="textarea" placeholder="Description")
        div(class="field is-grouped")
            div(class="control")
                button(class="button is-primary") Save
            div(class="control")
                a(href="/" class="button") Cancel